@media screen and (max-width: 600px) {
    .bg-frame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ffe9a7;
        opacity: 0.4;
        z-index: -1;
    }

    .ZigZag {
        background-image: linear-gradient(135deg, #ffc107 25%, transparent 25%), linear-gradient(225deg, #ffc107 25%, transparent 25%), linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #ffe9a7 25%);
        background-position: 20px 0, 20px 0, 0 0, 0 0;
        background-size: 40px 40px;
        background-repeat: repeat;
        display: none;
    }

    body {
        font-family: 'Yomogi', cursive;
        min-height: 100vh;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .hukidasi {
        margin: auto;
        width: 60vw;
        text-align: center;
        position: relative;
    }

    .hukidasi img {
        width: 100%;
    }

    .hukidasi p {
        font-size: 3vw;
        position: absolute;
        top: 10%;
        left: 15%;
        max-width: 70%;
    }

    .god-frame {
        margin: auto;
        /*divが中央になる*/
        width: 60vw;
        margin-top: 10vh;
        display: none;
    }

    .god-frame img {
        display: block;
        width: 100%;
        margin-top: -5vh;
    }
    h1 {
        color: #291102;
        display: none;
        font-size: 10vw;
    }
    .result-frame {
        display: none;
    }
    .result-frame img {
        width: 80vw;
    }
}

@media screen and (min-width: 601px) {
    .bg-frame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ffe9a7;
        opacity: 0.4;
        z-index: -1;
    }

    .ZigZag {
        background-image: linear-gradient(135deg, #ffc107 25%, transparent 25%), linear-gradient(225deg, #ffc107 25%, transparent 25%), linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #ffe9a7 25%);
        background-position: 20px 0, 20px 0, 0 0, 0 0;
        background-size: 40px 40px;
        background-repeat: repeat;
        display: none;
    }

    body {
        font-family: 'Yomogi', cursive;
        min-height: 100vh;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .hukidasi {
        margin: auto;
        width: 100%;
        text-align: center;
        position: relative;
    }

    .hukidasi img {
        width: 100%;
    }

    .hukidasi p {
        font-size: 2vw;
        position: absolute;
        top: 20%;
        left: 10%;
        max-width: 80%;
    }

    .god-frame {
        margin: auto;
        /*divが中央になる*/
        width: 30vw;
        margin-top: 10vh;
        display: none;
    }

    .god-frame img {
        display: block;
        width: 100%;
        margin-top: -5vh;
    }
    h1 {
        color: #291102;
        display: none;
        font-size: 5vw;
    }
    .result-frame {
        display: none;
        width: 40vw;
        margin: auto;
    }
    .result-frame img {
        margin-top: 5%;
        width: 30vw;
    }
}